USE [master]
GO
/****** Object:  Database [MilkyWay]    Script Date: 23/11/2021 7:44:38 CH ******/
CREATE DATABASE [MilkyWay]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MilkyWay].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MilkyWay]
GO
/****** Object:  StoredProcedure [dbo].[ADD_CTHD]    Script Date: 23/11/2021 7:44:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ADD_CTHD]
       @MAHD VARCHAR(50),
	   @BARCODE VARCHAR(100),
	   @SL INT,
	   @DONGIA MONEY
AS
  BEGIN
       DECLARE @IDHD INT
	   SELECT @IDHD = IDHOADON FROM HoaDon WHERE @MAHD = MaHD
	   DECLARE @IDCTSP INT
	   SELECT @IDCTSP = IDCHITIETSP FROM ChiTietSanPham WHERE @BARCODE = BarCode
	   INSERT INTO ChiTietHoaDon(IDHoaDon,IDChiTietSP,SoLuong,DonGia) VALUES(@IDHD,@IDCTSP,@SL,@DONGIA)
  END

GO
/****** Object:  StoredProcedure [dbo].[ADD_CTSP]    Script Date: 23/11/2021 7:44:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ADD_CTSP]
       @MASP VARCHAR(50),
	   @HANSD DATE,
	   @SLTON INT,
	   @DONGIA MONEY,
	   @MAXX VARCHAR(50),
	   @MAKL VARCHAR(50),
	   @MADVT VARCHAR(50),
	   @MAANHSP VARCHAR(50),
	   @BARCODE VARCHAR(100)
AS
  BEGIN
       DECLARE @IDSP INT
	   SELECT @IDSP = IDSANPHAM FROM SanPham WHERE @MASP = MaSP
	   DECLARE @IDXX INT
	   SELECT @IDXX = IDXuatXu FROM XuatXu WHERE @MAXX = MaQG
	   DECLARE @IDKL INT
	   SELECT @IDKL = IDKhoiLuong FROM KhoiLuong WHERE @MAKL = MaKhoiLuong
	   DECLARE @IDDVT INT
	   SELECT @IDDVT = IDDonViTinh FROM DonViTinh WHERE @MADVT = MaDVT
	   DECLARE @IDASP INT
	   SELECT @IDASP = IDAnhSP FROM AnhSP WHERE @MAANHSP = MaAnhSP
	   INSERT INTO ChiTietSanPham(IDSanPham,HanSD,SoLuongTon,DonGia,IDXuatXu,IDKhoiLuong,IDDonViTinh,IDAnhSP,BarCode) VALUES(@IDSP,@HANSD,@SLTON,@DONGIA,@IDXX,@IDKL,@IDDVT,@IDASP,@BARCODE)
  END

GO
/****** Object:  StoredProcedure [dbo].[ADD_DONGSP]    Script Date: 23/11/2021 7:44:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ADD_DONGSP]
              @MADONGSP VARCHAR(50),
			  @MATH VARCHAR(50),
			  @TENDONGSP NVARCHAR(50),
			  @GHICHU NVARCHAR(500),
			  @TRANGTHAI BIT
AS
  BEGIN
      DECLARE @ID INT
	  SELECT @ID = IDTHUONGHIEU FROM ThuongHieu  WHERE  @MATH = MaTH
	  INSERT INTO DongSP(MaDongSP,IDThuongHieu,TenDongSP,GhiChu,TrangThai) VALUES(@MADONGSP,@ID,@TENDONGSP,@GHICHU,@TRANGTHAI)
  END

GO
/****** Object:  StoredProcedure [dbo].[ADD_HOADON]    Script Date: 23/11/2021 7:44:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ADD_HOADON]
       @MAHD VARCHAR(50),
	   @MANV VARCHAR(50),
	   @MATHETV VARCHAR(50),
	   @MAHTTT VARCHAR(50),
	   @NGAYLAP DATE,
	   @TONGT MONEY,
	   @GHICHU NVARCHAR(500),
	   @TT BIT
AS
  BEGIN
       DECLARE @IDMANV INT
	   SELECT @IDMANV = IDNHANVIEN FROM NhanVien WHERE @MANV = MaNV
	   DECLARE @IDTHETV INT
	   SELECT @IDTHETV = IDTHETV FROM TheThanhVien WHERE @MATHETV = MaTheTV
	   DECLARE @IDHT INT
	   SELECT @IDHT = IDHINHTHUCTHANHTOAN FROM HinhThucThanhToan WHERE @MAHTTT = MaHinhThucThanhToan
	   INSERT INTO HoaDon(MaHD,IDNhanVien,IDTheTV,IDHinhThucThanhToan,NgayLap,TongTien,GhiChu,TrangThai) VALUES(@MAHD,@IDMANV,@IDTHETV,@IDHT,@NGAYLAP,@TONGT,@GHICHU,@TT)
  END

GO
/****** Object:  StoredProcedure [dbo].[ADD_LOAIHANG]    Script Date: 23/11/2021 7:44:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ADD_LOAIHANG]
              @MALH VARCHAR(50),
			  @MANH VARCHAR(50),
			  @TEN NVARCHAR(50),
			  @GHICHU NVARCHAR(500)
AS
  BEGIN
      DECLARE @ID INT
	  SELECT @ID = IDNHOMHANG FROM NhomHang  WHERE  @MANH = MaNhom
	  INSERT INTO LoaiHang(MaLoai,IDNhomHang,TenLoai,GhiChu) VALUES(@MALH,@ID,@TEN,@GHICHU)
  END

GO
/****** Object:  StoredProcedure [dbo].[ADD_SANPHAM]    Script Date: 23/11/2021 7:44:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ADD_SANPHAM]
       @MASP VARCHAR(50),
	   @MALOAISP VARCHAR(50),
	   @MADONGSP VARCHAR(50),
	   @TEN NVARCHAR(100),
	   @NGAYNK DATE,
	   @GHICHU NVARCHAR(500),
	   @TT BIT
AS
  BEGIN
       DECLARE @IDLSP INT
	   SELECT @IDLSP = IDLOAIHANG FROM LoaiHang WHERE @MALOAISP = MaLoai
	   DECLARE @IDDSP INT
	   SELECT @IDDSP = IDDONGSP FROM DongSP WHERE @MADONGSP = MaDongSP
	   INSERT INTO SanPham(MaSP,IDLoaiSP,IDDongSP,TenSP,NgayXK,GhiChu,TrangThai) VALUES(@MASP,@IDLSP,@IDDSP,@TEN,@NGAYNK,@GHICHU,@TT)
  END

GO
/****** Object:  StoredProcedure [dbo].[SP_DangNhap]    Script Date: 23/11/2021 7:44:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DangNhap]
	@TaiKhoan varchar(50),
    @MatKhau varchar(50),
	@ok bit OUTPUT,
    @responseMessage NVARCHAR(250)='' OUTPUT
AS
BEGIN

    SET NOCOUNT ON

    IF EXISTS (SELECT TOP 1 TaiKhoan FROM NhanVien WHERE TaiKhoan=@TaiKhoan)
    BEGIN
       IF((SELECT TaiKhoan FROM NhanVien WHERE TaiKhoan=@TaiKhoan AND MatKhau=HASHBYTES('SHA2_512', @MatKhau+CAST(Salt AS NVARCHAR(36)))) IS NULL)
			BEGIN
			   SET @responseMessage=N'Mật khẩu không hợp lệ'
			   SET @ok = 0
			END
       ELSE 
		   BEGIN
			   SET @responseMessage=N'Đăng nhập thành công'
			   SET @ok = 1
			END
    END
    ELSE
		BEGIN
		   SET @responseMessage=N'Tài khoản không hợp lệ'
		   SET @ok = 0
	   END

END

GO
/****** Object:  StoredProcedure [dbo].[SP_DoiMatKhau]    Script Date: 23/11/2021 7:44:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DoiMatKhau]
	@MaNV varchar(20),
	@TaiKhoan varchar(50),
    @MatKhau varchar(50),
	@MatKhauMoi varchar(50),
	@XacNhanMKMoi varchar(50),
	@ok bit OUTPUT,
    @responseMessage NVARCHAR(250)='' OUTPUT
AS
BEGIN
	SET NOCOUNT ON;

       IF((SELECT MaNV FROM NhanVien WHERE MaNV=@MaNV AND TaiKhoan=@TaiKhoan AND MatKhau=HASHBYTES('SHA2_512', @MatKhau+CAST(Salt AS NVARCHAR(36)))) IS NULL)
			BEGIN
			   SET @responseMessage=N'Mật khẩu hiện tại không hợp lệ'
			   SET @ok = 0
			END
       ELSE 
			IF(@MatKhauMoi = @XacNhanMKMoi)
		   BEGIN
				DECLARE @Salt UNIQUEIDENTIFIER = NEWID()
				UPDATE NhanVien
				SET MatKhau=HASHBYTES('SHA2_512', @MatKhauMoi+CAST(@Salt AS NVARCHAR(36))), Salt = @Salt
				WHERE MaNV=@MaNV
			   SET @responseMessage=N'Đổi mật khẩu thành công'
			   SET @ok = 1
			END
			ELSE
				BEGIN
					SET @responseMessage=N'Xác nhận mật khẩu không hợp lệ'
					SET @ok = 0
				END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Forgot]    Script Date: 23/11/2021 7:44:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_Forgot]


	@TaiKhoan varchar(50),
    @Email varchar(50),
	@ok bit OUTPUT,
    @responseMessage NVARCHAR(250)='' OUTPUT
    
AS

BEGIN
	SET NOCOUNT ON;
       IF((SELECT TaiKhoan FROM NhanVien WHERE TaiKhoan=@TaiKhoan and Email=@Email) IS NULL)
			BEGIN
			   SET @responseMessage=N'Không tồn tại tài khoản này'
			   SET @ok = 0
			END
       ELSE 
		   BEGIN
			   SET @responseMessage=N'Xác Thực Thành Công'
			   SET @ok = 1
			END
		End		

GO
/****** Object:  StoredProcedure [dbo].[SP_InsertAllSanPham]    Script Date: 23/11/2021 7:44:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_InsertAllSanPham]
@MaSP varchar(50)
,@IDLoaiSP int
,@IDDongSP int
,@TenSP nvarchar(100)
,@GhiChu nvarchar(500)
,@IDSanPham int
,@HanSD date
,@SoLuongTon int
,@DonGia decimal(18,2)
,@IDXuatXu int
,@IDKhoiLuong int
,@IDDonViTinh int
,@IDAnhSP int
,@BarCode varchar(100)
AS
BEGIN
	INSERT INTO [dbo].[SanPham]([MaSP],[IDLoaiSP],[IDDongSP],[TenSP],[GhiChu])
    VALUES(@MaSP,@IDLoaiSP,@IDDongSP,@TenSP,@GhiChu)

	select @IDSanPham = IDSanPham from SanPham where MaSP = @MaSP

	INSERT INTO [dbo].[ChiTietSanPham]([IDSanPham],[HanSD],[SoLuongTon],[DonGia],[IDXuatXu],[IDKhoiLuong],[IDDonViTinh],[IDAnhSP],[BarCode])
    VALUES (@IDSanPham,@HanSD,@SoLuongTon,@DonGia,@IDXuatXu,@IDKhoiLuong,@IDDonViTinh,@IDAnhSP,@BarCode)
END

GO
/****** Object:  StoredProcedure [dbo].[SP_ResetPass]    Script Date: 23/11/2021 7:44:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_ResetPass]
	
	@TaiKhoan varchar(50),
	@MatKhauMoi varchar(50),
	@XacNhanMKMoi varchar(50),
	@ok bit OUTPUT,
    @responseMessage NVARCHAR(250)='' OUTPUT
AS
BEGIN
	SET NOCOUNT ON;

      
			IF(@MatKhauMoi = @XacNhanMKMoi)
		   BEGIN
				DECLARE @Salt UNIQUEIDENTIFIER = NEWID()
				UPDATE NhanVien
				SET MatKhau=HASHBYTES('SHA2_512', @MatKhauMoi+CAST(@Salt AS NVARCHAR(36))), Salt = @Salt
				WHERE TaiKhoan=@TaiKhoan
			   SET @responseMessage=N'Đổi mật khẩu thành công'
			   SET @ok = 1
			END
			ELSE
				BEGIN
					SET @responseMessage=N'Xác nhận mật khẩu không hợp lệ'
					SET @ok = 0
				END
END

GO
/****** Object:  StoredProcedure [dbo].[SP_SelectAllSanPham]    Script Date: 23/11/2021 7:44:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SelectAllSanPham]
@status bit
AS
BEGIN
	select MaSP, TenSP, TenLoai, TenDongSP, NgayXK, a.GhiChu, a.TrangThai, HanSD, SoLuongTon, DonGia, TenQG, GiaTri, TenDVT, TenAnhSP, BarCode
	from SanPham a join ChiTietSanPham b on a.IDSanPham = b.IDSanPham
	join LoaiHang c on c.IDLoaiHang = a.IDLoaiSP
	join DongSP d on d.IDDongSP = a.IDDongSP
	join XuatXu e on e.IDXuatXu = b.IDXuatXu
	join DonViTinh f on f.IDDonViTinh = b.IDDonViTinh
	join AnhSP g on g.IDAnhSP = b.IDAnhSP
	join KhoiLuong h on h.IDKhoiLuong = b.IDKhoiLuong
	where a.TrangThai = @status
END

GO
/****** Object:  StoredProcedure [dbo].[SP_SelectAllSanPhamByBarCode]    Script Date: 23/11/2021 7:44:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create PROCEDURE [dbo].[SP_SelectAllSanPhamByBarCode]
@status bit, @barcode varchar(100)
AS
BEGIN
	select MaSP, TenSP, TenLoai, TenDongSP, NgayXK, a.GhiChu, a.TrangThai, HanSD, SoLuongTon, DonGia, TenQG, GiaTri, TenDVT, TenAnhSP, BarCode
	from SanPham a join ChiTietSanPham b on a.IDSanPham = b.IDSanPham
	join LoaiHang c on c.IDLoaiHang = a.IDLoaiSP
	join DongSP d on d.IDDongSP = a.IDDongSP
	join XuatXu e on e.IDXuatXu = b.IDXuatXu
	join DonViTinh f on f.IDDonViTinh = b.IDDonViTinh
	join AnhSP g on g.IDAnhSP = b.IDAnhSP
	join KhoiLuong h on h.IDKhoiLuong = b.IDKhoiLuong
	where a.TrangThai = @status and BarCode = @barcode
END

GO
/****** Object:  StoredProcedure [dbo].[SP_SelectAllSanPhamByID]    Script Date: 23/11/2021 7:44:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_SelectAllSanPhamByID]
@status bit, @MaSP varchar(50)
AS
BEGIN
	select MaSP, TenSP, TenLoai, TenDongSP, NgayXK, a.GhiChu, a.TrangThai, HanSD, SoLuongTon, DonGia, TenQG, GiaTri, TenDVT, TenAnhSP, BarCode
	from SanPham a join ChiTietSanPham b on a.IDSanPham = b.IDSanPham
	join LoaiHang c on c.IDLoaiHang = a.IDLoaiSP
	join DongSP d on d.IDDongSP = a.IDDongSP
	join XuatXu e on e.IDXuatXu = b.IDXuatXu
	join DonViTinh f on f.IDDonViTinh = b.IDDonViTinh
	join AnhSP g on g.IDAnhSP = b.IDAnhSP
	join KhoiLuong h on h.IDKhoiLuong = b.IDKhoiLuong
	where a.TrangThai = @status and MaSP = @MaSP
END

GO
/****** Object:  StoredProcedure [dbo].[SP_SelectAllSanPhamSapHetHan]    Script Date: 23/11/2021 7:44:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_SelectAllSanPhamSapHetHan]
AS
BEGIN
	select MaSP, TenSP, TenLoai, TenDongSP, NgayXK, a.GhiChu, a.TrangThai, HanSD, SoLuongTon, DonGia, TenQG, GiaTri, TenDVT, TenAnhSP, BarCode
	from SanPham a join ChiTietSanPham b on a.IDSanPham = b.IDSanPham
	join LoaiHang c on c.IDLoaiHang = a.IDLoaiSP
	join DongSP d on d.IDDongSP = a.IDDongSP
	join XuatXu e on e.IDXuatXu = b.IDXuatXu
	join DonViTinh f on f.IDDonViTinh = b.IDDonViTinh
	join AnhSP g on g.IDAnhSP = b.IDAnhSP
	join KhoiLuong h on h.IDKhoiLuong = b.IDKhoiLuong
	where a.TrangThai = 1 and DATEDIFF(MONTH,GETDATE(),HanSD) <= 3
END

GO
/****** Object:  StoredProcedure [dbo].[SP_SelectAllSanPhamSapHetHang]    Script Date: 23/11/2021 7:44:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_SelectAllSanPhamSapHetHang]
@start int, @end int
AS
BEGIN
	select MaSP, TenSP, TenLoai, TenDongSP, NgayXK, a.GhiChu, a.TrangThai, HanSD, SoLuongTon, DonGia, TenQG, GiaTri, TenDVT, TenAnhSP, BarCode
	from SanPham a join ChiTietSanPham b on a.IDSanPham = b.IDSanPham
	join LoaiHang c on c.IDLoaiHang = a.IDLoaiSP
	join DongSP d on d.IDDongSP = a.IDDongSP
	join XuatXu e on e.IDXuatXu = b.IDXuatXu
	join DonViTinh f on f.IDDonViTinh = b.IDDonViTinh
	join AnhSP g on g.IDAnhSP = b.IDAnhSP
	join KhoiLuong h on h.IDKhoiLuong = b.IDKhoiLuong
	where a.TrangThai = 1 and (SoLuongTon between @start and @end)
END

GO
/****** Object:  StoredProcedure [dbo].[SP_ThemNhanVien]    Script Date: 23/11/2021 7:44:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ThemNhanVien]
	@MaNV varchar(50)
    ,@TaiKhoan varchar(50)
    ,@MatKhau varchar(50)
    ,@HoTen nvarchar(50)
    ,@GioiTinh bit
    ,@NgaySinh date
    ,@SDT varchar(20)
    ,@CMND varchar(20)
    ,@Email varchar(50)
    ,@HinhAnh nvarchar(50)
    ,@VaiTro bit
    ,@GhiChu nvarchar(500)
AS
BEGIN
	SET NOCOUNT ON;

    DECLARE @Salt UNIQUEIDENTIFIER = NEWID()

	INSERT INTO NhanVien (MaNV,TaiKhoan,MatKhau,HoTen,GioiTinh,NgaySinh,SDT,CMND,Email,HinhAnh,VaiTro,GhiChu,Salt)
	values (@MaNV, @TaiKhoan, HASHBYTES('SHA2_512', @MatKhau+CAST(@Salt as nvarchar(36))), @HoTen,@GioiTinh,@NgaySinh,@SDT,@CMND,@Email,@HinhAnh,@VaiTro,@GhiChu,@Salt)
END

GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateSanPham]    Script Date: 23/11/2021 7:44:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_UpdateSanPham]
    @HanSD date
    ,@SoLuongTon int
    ,@DonGia decimal(18,2)
    ,@IDXuatXu int
    ,@IDKhoiLuong int
    ,@IDDonViTinh int
    ,@IDAnhSP int
    ,@BarCode varchar(100)
	
	,@MaSP varchar(50)
    ,@IDLoaiSP int
    ,@IDDongSP int
    ,@TenSP nvarchar(100)
    ,@GhiChu nvarchar(500)
AS
BEGIN
	declare @IDChiTietSP int
	select @IDChiTietSP = IDChiTietSP from ChiTietSanPham where IDSanPham = (select IDSanPham from SanPham where MaSP = @MaSP)

	UPDATE [dbo].[ChiTietSanPham]
	SET [HanSD] = @HanSD,[SoLuongTon] = @SoLuongTon,[DonGia] = @DonGia,[IDXuatXu] = @IDXuatXu,[IDKhoiLuong] = @IDKhoiLuong,[IDDonViTinh] = @IDDonViTinh,[IDAnhSP] = @IDAnhSP,[BarCode] = @BarCode
	WHERE [IDChiTietSP] = @IDChiTietSP
	UPDATE [dbo].[SanPham]
	SET [IDLoaiSP] = @IDLoaiSP
      ,[IDDongSP] = @IDDongSP
      ,[TenSP] = @TenSP
      ,[GhiChu] = @GhiChu
	WHERE [MaSP] = @MaSP
END

GO
/****** Object:  Table [dbo].[AnhSP]    Script Date: 23/11/2021 7:44:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AnhSP](
	[IDAnhSP] [int] IDENTITY(1,1) NOT NULL,
	[MaAnhSP] [varchar](50) NOT NULL,
	[TenAnhSP] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_AnhSP] PRIMARY KEY CLUSTERED 
(
	[IDAnhSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 23/11/2021 7:44:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[IDChiTietHD] [int] IDENTITY(1,1000) NOT NULL,
	[IDHoaDon] [int] NOT NULL,
	[IDChiTietSP] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [money] NOT NULL,
 CONSTRAINT [PK_ChiTietHoaDon_1] PRIMARY KEY CLUSTERED 
(
	[IDChiTietHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChiTietSanPham]    Script Date: 23/11/2021 7:44:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ChiTietSanPham](
	[IDChiTietSP] [int] IDENTITY(1,1) NOT NULL,
	[IDSanPham] [int] NOT NULL,
	[HanSD] [date] NOT NULL,
	[SoLuongTon] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[IDXuatXu] [int] NOT NULL,
	[IDKhoiLuong] [int] NOT NULL,
	[IDDonViTinh] [int] NOT NULL,
	[IDAnhSP] [int] NOT NULL,
	[BarCode] [varchar](100) NOT NULL,
 CONSTRAINT [PK_ChiTietSanPham] PRIMARY KEY CLUSTERED 
(
	[IDChiTietSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DongSP]    Script Date: 23/11/2021 7:44:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DongSP](
	[IDDongSP] [int] IDENTITY(1,1) NOT NULL,
	[MaDongSP] [varchar](50) NOT NULL,
	[IDThuongHieu] [int] NOT NULL,
	[TenDongSP] [nvarchar](50) NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[TrangThai] [bit] NOT NULL CONSTRAINT [DF_DongSP_TrangThai]  DEFAULT ((1)),
 CONSTRAINT [PK_DongSP] PRIMARY KEY CLUSTERED 
(
	[IDDongSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DonViTinh]    Script Date: 23/11/2021 7:44:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DonViTinh](
	[IDDonViTinh] [int] IDENTITY(1,1) NOT NULL,
	[MaDVT] [varchar](50) NOT NULL,
	[TenDVT] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DonViTinh] PRIMARY KEY CLUSTERED 
(
	[IDDonViTinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HinhThucThanhToan]    Script Date: 23/11/2021 7:44:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HinhThucThanhToan](
	[IDHinhThucThanhToan] [int] IDENTITY(1,1) NOT NULL,
	[MaHinhThucThanhToan] [varchar](20) NOT NULL,
	[TenHinhThucThanhToan] [nvarchar](50) NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
 CONSTRAINT [PK_HinhThucThanhToan] PRIMARY KEY CLUSTERED 
(
	[IDHinhThucThanhToan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 23/11/2021 7:44:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HoaDon](
	[IDHoaDon] [int] IDENTITY(1,1000) NOT NULL,
	[MaHD] [varchar](50) NOT NULL,
	[IDNhanVien] [int] NOT NULL,
	[IDTheTV] [int] NULL,
	[IDHinhThucThanhToan] [int] NOT NULL,
	[NgayLap] [date] NOT NULL CONSTRAINT [DF_HoaDon_NgayLap]  DEFAULT (getdate()),
	[TongTien] [money] NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[TrangThai] [bit] NOT NULL CONSTRAINT [DF_HoaDon_TrangThai]  DEFAULT ((1)),
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[IDHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KhoiLuong]    Script Date: 23/11/2021 7:44:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KhoiLuong](
	[IDKhoiLuong] [int] IDENTITY(1,1) NOT NULL,
	[MaKhoiLuong] [varchar](50) NOT NULL,
	[GiaTri] [varchar](50) NOT NULL,
 CONSTRAINT [PK_KhoiLuong] PRIMARY KEY CLUSTERED 
(
	[IDKhoiLuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 23/11/2021 7:44:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[IDKhuyenMai] [int] IDENTITY(1,1) NOT NULL,
	[MaKM] [varchar](50) NOT NULL,
	[IDLoaiHang] [int] NOT NULL,
	[IDDongSP] [int] NOT NULL,
	[IDHinhThucThanhToan] [int] NOT NULL,
	[ThoiGianBatDau] [date] NOT NULL,
	[ThoiGianKetThuc] [date] NOT NULL,
	[GiamGia] [int] NOT NULL,
	[MoTa] [nvarchar](500) NULL,
 CONSTRAINT [PK_KhuyenMai] PRIMARY KEY CLUSTERED 
(
	[IDKhuyenMai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LoaiHang]    Script Date: 23/11/2021 7:44:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LoaiHang](
	[IDLoaiHang] [int] IDENTITY(1,1) NOT NULL,
	[MaLoai] [varchar](50) NOT NULL,
	[IDNhomHang] [int] NOT NULL,
	[TenLoai] [nvarchar](50) NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
 CONSTRAINT [PK_LoaiSua] PRIMARY KEY CLUSTERED 
(
	[IDLoaiHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 23/11/2021 7:44:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhanVien](
	[IDNhanVien] [int] IDENTITY(1,1) NOT NULL,
	[MaNV] [varchar](50) NOT NULL,
	[TaiKhoan] [varchar](50) NOT NULL,
	[MatKhau] [binary](64) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[GioiTinh] [bit] NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[SDT] [varchar](20) NOT NULL,
	[CMND] [varchar](20) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[HinhAnh] [nvarchar](50) NULL,
	[VaiTro] [bit] NOT NULL CONSTRAINT [DF_NhanVien_VaiTro]  DEFAULT ((0)),
	[GhiChu] [nvarchar](500) NULL,
	[TrangThai] [bit] NOT NULL CONSTRAINT [DF_NhanVien_TrangThai]  DEFAULT ((1)),
	[Salt] [uniqueidentifier] NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[IDNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NhomHang]    Script Date: 23/11/2021 7:44:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhomHang](
	[IDNhomHang] [int] IDENTITY(1,1) NOT NULL,
	[MaNhom] [varchar](50) NOT NULL,
	[TenNhom] [nvarchar](50) NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
 CONSTRAINT [PK_NhomHang] PRIMARY KEY CLUSTERED 
(
	[IDNhomHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 23/11/2021 7:44:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SanPham](
	[IDSanPham] [int] IDENTITY(1,1000) NOT NULL,
	[MaSP] [varchar](50) NOT NULL,
	[IDLoaiSP] [int] NOT NULL,
	[IDDongSP] [int] NOT NULL,
	[TenSP] [nvarchar](100) NOT NULL,
	[NgayXK] [date] NOT NULL CONSTRAINT [DF_SanPham_NgayNK]  DEFAULT (getdate()),
	[GhiChu] [nvarchar](500) NULL,
	[TrangThai] [bit] NOT NULL CONSTRAINT [DF_SanPham_TrangThai]  DEFAULT ((1)),
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[IDSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TheThanhVien]    Script Date: 23/11/2021 7:44:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TheThanhVien](
	[IDTheTV] [int] IDENTITY(1,100) NOT NULL,
	[MaTheTV] [varchar](50) NOT NULL,
	[TenKH] [nvarchar](50) NOT NULL,
	[GioiTinh] [bit] NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[SDT] [varchar](20) NOT NULL,
	[CMND] [varchar](20) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[HinhAnh] [nvarchar](50) NULL,
	[NgayTao] [date] NOT NULL CONSTRAINT [DF_TheThanhVien_NgayTao]  DEFAULT (getdate()),
	[NgayHetHan] [date] NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
 CONSTRAINT [PK_TheThanhVien] PRIMARY KEY CLUSTERED 
(
	[IDTheTV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ThuongHieu]    Script Date: 23/11/2021 7:44:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ThuongHieu](
	[IDThuongHieu] [int] IDENTITY(1,1) NOT NULL,
	[MaTH] [varchar](50) NOT NULL,
	[TenTH] [nvarchar](50) NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[TrangThai] [bit] NOT NULL CONSTRAINT [DF_ThuongHieu_TrangThai]  DEFAULT ((1)),
 CONSTRAINT [PK_ThuongHieu] PRIMARY KEY CLUSTERED 
(
	[IDThuongHieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[XuatXu]    Script Date: 23/11/2021 7:44:38 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[XuatXu](
	[IDXuatXu] [int] IDENTITY(1,1) NOT NULL,
	[MaQG] [varchar](50) NOT NULL,
	[TenQG] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_XuatXu] PRIMARY KEY CLUSTERED 
(
	[IDXuatXu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[AnhSP] ON 

GO
INSERT [dbo].[AnhSP] ([IDAnhSP], [MaAnhSP], [TenAnhSP]) VALUES (15, N'ASP00001', N'meiji0800g.jpg')
GO
INSERT [dbo].[AnhSP] ([IDAnhSP], [MaAnhSP], [TenAnhSP]) VALUES (16, N'ASP00002', N'similac5g4900.jpg')
GO
INSERT [dbo].[AnhSP] ([IDAnhSP], [MaAnhSP], [TenAnhSP]) VALUES (17, N'ASP00003', N'vinamilk_organic_khongduong_hopgiay_1L.jpg')
GO
SET IDENTITY_INSERT [dbo].[AnhSP] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietHoaDon] ON 

GO
INSERT [dbo].[ChiTietHoaDon] ([IDChiTietHD], [IDHoaDon], [IDChiTietSP], [SoLuong], [DonGia]) VALUES (48001, 35001, 15, 1, 500000.0000)
GO
INSERT [dbo].[ChiTietHoaDon] ([IDChiTietHD], [IDHoaDon], [IDChiTietSP], [SoLuong], [DonGia]) VALUES (49001, 36001, 14, 1, 400000.0000)
GO
INSERT [dbo].[ChiTietHoaDon] ([IDChiTietHD], [IDHoaDon], [IDChiTietSP], [SoLuong], [DonGia]) VALUES (50001, 36001, 20, 2, 300000.0000)
GO
SET IDENTITY_INSERT [dbo].[ChiTietHoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietSanPham] ON 

GO
INSERT [dbo].[ChiTietSanPham] ([IDChiTietSP], [IDSanPham], [HanSD], [SoLuongTon], [DonGia], [IDXuatXu], [IDKhoiLuong], [IDDonViTinh], [IDAnhSP], [BarCode]) VALUES (14, 18001, CAST(N'2025-12-25' AS Date), 58, CAST(400000.00 AS Decimal(18, 2)), 16, 20, 10, 15, N'ABCDXYZ123')
GO
INSERT [dbo].[ChiTietSanPham] ([IDChiTietSP], [IDSanPham], [HanSD], [SoLuongTon], [DonGia], [IDXuatXu], [IDKhoiLuong], [IDDonViTinh], [IDAnhSP], [BarCode]) VALUES (15, 19001, CAST(N'2026-10-25' AS Date), 50, CAST(500000.00 AS Decimal(18, 2)), 19, 19, 10, 16, N'ABCDXYZ124')
GO
INSERT [dbo].[ChiTietSanPham] ([IDChiTietSP], [IDSanPham], [HanSD], [SoLuongTon], [DonGia], [IDXuatXu], [IDKhoiLuong], [IDDonViTinh], [IDAnhSP], [BarCode]) VALUES (16, 20001, CAST(N'2025-12-25' AS Date), 40, CAST(200000.00 AS Decimal(18, 2)), 17, 15, 13, 20, N'ABCDXYZ125')
GO
SET IDENTITY_INSERT [dbo].[ChiTietSanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[DongSP] ON 

GO
INSERT [dbo].[DongSP] ([IDDongSP], [MaDongSP], [IDThuongHieu], [TenDongSP], [GhiChu], [TrangThai]) VALUES (20, N'DSP0001', 21, N'Sữa bột Similac', N'KHÔNG', 1)
GO
INSERT [dbo].[DongSP] ([IDDongSP], [MaDongSP], [IDThuongHieu], [TenDongSP], [GhiChu], [TrangThai]) VALUES (21, N'DSP0002', 24, N'Sữa bột Nutren', N'KHÔNG', 1)
GO
INSERT [dbo].[DongSP] ([IDDongSP], [MaDongSP], [IDThuongHieu], [TenDongSP], [GhiChu], [TrangThai]) VALUES (22, N'DSP0003', 25, N'Trà cốm hoa quả Burine', N'KHÔNG', 1)
GO
SET IDENTITY_INSERT [dbo].[DongSP] OFF
GO
SET IDENTITY_INSERT [dbo].[DonViTinh] ON 

GO
INSERT [dbo].[DonViTinh] ([IDDonViTinh], [MaDVT], [TenDVT]) VALUES (10, N'DVT0001', N'HỘP')
GO
INSERT [dbo].[DonViTinh] ([IDDonViTinh], [MaDVT], [TenDVT]) VALUES (11, N'DVT0002', N'LỐC')
GO
INSERT [dbo].[DonViTinh] ([IDDonViTinh], [MaDVT], [TenDVT]) VALUES (12, N'DVT0003', N'THÙNG')
GO
SET IDENTITY_INSERT [dbo].[DonViTinh] OFF
GO
SET IDENTITY_INSERT [dbo].[HinhThucThanhToan] ON 

GO
INSERT [dbo].[HinhThucThanhToan] ([IDHinhThucThanhToan], [MaHinhThucThanhToan], [TenHinhThucThanhToan], [GhiChu]) VALUES (7, N'HT0001', N'Tiền mặt', N'KHÔNG')
GO
INSERT [dbo].[HinhThucThanhToan] ([IDHinhThucThanhToan], [MaHinhThucThanhToan], [TenHinhThucThanhToan], [GhiChu]) VALUES (8, N'HT0002', N'Thẻ ngân hàng', N'KHÔNG')
GO
INSERT [dbo].[HinhThucThanhToan] ([IDHinhThucThanhToan], [MaHinhThucThanhToan], [TenHinhThucThanhToan], [GhiChu]) VALUES (9, N'HT0003', N'Ví điện tử', NULL)
GO
SET IDENTITY_INSERT [dbo].[HinhThucThanhToan] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

GO
INSERT [dbo].[HoaDon] ([IDHoaDon], [MaHD], [IDNhanVien], [IDTheTV], [IDHinhThucThanhToan], [NgayLap], [TongTien], [GhiChu], [TrangThai]) VALUES (35001, N'HD00001', 17, 2101, 7, CAST(N'2021-11-10' AS Date), 500000.0000, N'không', 0)
GO
INSERT [dbo].[HoaDon] ([IDHoaDon], [MaHD], [IDNhanVien], [IDTheTV], [IDHinhThucThanhToan], [NgayLap], [TongTien], [GhiChu], [TrangThai]) VALUES (36001, N'HD00002', 16, 1701, 8, CAST(N'2021-11-12' AS Date), 1500000.0000, N'không', 0)
GO
INSERT [dbo].[HoaDon] ([IDHoaDon], [MaHD], [IDNhanVien], [IDTheTV], [IDHinhThucThanhToan], [NgayLap], [TongTien], [GhiChu], [TrangThai]) VALUES (37001, N'HD00003', 17, 1501, 7, CAST(N'2021-11-10' AS Date), 600000.0000, N'không', 0)
GO
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[KhoiLuong] ON 

GO
INSERT [dbo].[KhoiLuong] ([IDKhoiLuong], [MaKhoiLuong], [GiaTri]) VALUES (15, N'KL0001', N'180ML')
GO
INSERT [dbo].[KhoiLuong] ([IDKhoiLuong], [MaKhoiLuong], [GiaTri]) VALUES (16, N'KL0002', N'150ML')
GO
INSERT [dbo].[KhoiLuong] ([IDKhoiLuong], [MaKhoiLuong], [GiaTri]) VALUES (17, N'KL0003', N'300G')
GO
SET IDENTITY_INSERT [dbo].[KhoiLuong] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiHang] ON 

GO
INSERT [dbo].[LoaiHang] ([IDLoaiHang], [MaLoai], [IDNhomHang], [TenLoai], [GhiChu]) VALUES (18, N'LH001', 13, N'Sữa cho mẹ mang thai và cho con bú', N'KHÔNG')
GO
INSERT [dbo].[LoaiHang] ([IDLoaiHang], [MaLoai], [IDNhomHang], [TenLoai], [GhiChu]) VALUES (19, N'LH002', 14, N'Sữa cho trẻ trên 6 tháng tuổi', N'KHÔNG')
GO
INSERT [dbo].[LoaiHang] ([IDLoaiHang], [MaLoai], [IDNhomHang], [TenLoai], [GhiChu]) VALUES (20, N'LH003', 13, N'Sữa cho trẻ sơ sinh dưới 6 tháng tuổi', N'KHÔNG')
GO
SET IDENTITY_INSERT [dbo].[LoaiHang] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

GO
INSERT [dbo].[NhanVien] ([IDNhanVien], [MaNV], [TaiKhoan], [MatKhau], [HoTen], [GioiTinh], [NgaySinh], [SDT], [CMND], [Email], [HinhAnh], [VaiTro], [GhiChu], [TrangThai], [Salt]) VALUES (16, N'NV0001', N'dainnph13993', 0xAB43F95455355E70471490A408C71D8B65860FB4AF608A4188F7B3A191BA12224F6F57F8E80121D0E7807726963D23DBD700036B35B0BB1C4F5D39E8FEC8BC07, N'Nguyễn Ngọc Đại', 1, CAST(N'2002-06-11' AS Date), N'0986280623', N'125932074', N'dainnph13993@fpt.edu.vn', N'default.jpg', 1, N'Founder', 1, N'ef034674-e369-4887-911f-3cf409584f95')
GO
INSERT [dbo].[NhanVien] ([IDNhanVien], [MaNV], [TaiKhoan], [MatKhau], [HoTen], [GioiTinh], [NgaySinh], [SDT], [CMND], [Email], [HinhAnh], [VaiTro], [GhiChu], [TrangThai], [Salt]) VALUES (17, N'NV0002', N'thongvhph13968', 0x4309EB237B14B66EC44CBAB9540622F26F85F289F757D161677F4A46D76D8073EB14B3E0E17983677BF453C149D00B9484E57885D50959FEE5D184F5BDF5CBA5, N'Võ Hữu Thông', 1, CAST(N'1999-10-12' AS Date), N'0368443774', N'125932074', N'thongvhph13968@fpt.edu.vn', N'default.jpg', 1, N'Founder', 1, N'0686d306-eedb-4857-aa8c-5cf891a907df')
GO
INSERT [dbo].[NhanVien] ([IDNhanVien], [MaNV], [TaiKhoan], [MatKhau], [HoTen], [GioiTinh], [NgaySinh], [SDT], [CMND], [Email], [HinhAnh], [VaiTro], [GhiChu], [TrangThai], [Salt]) VALUES (18, N'NV0003', N'quochung13972', 0xDB0F37D63F70A5FA5FC8D52390995C6003A063E7429450DD4AADD75B6CE28F42B92EA2554D618C34746AAEA4A761715950C876A0302944A4D23E1A130CCC4437, N'Nguyễn Quốc Hùng', 1, CAST(N'2002-07-10' AS Date), N'0328452319', N'125932074', N'hungnqph13922@fpt.edu.vn', N'default.jpg', 0, N'Founder', 1, N'f2c88f53-e690-439a-90d3-831c3939365b')
GO
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[NhomHang] ON 

GO
INSERT [dbo].[NhomHang] ([IDNhomHang], [MaNhom], [TenNhom], [GhiChu]) VALUES (13, N'NH001', N'Sữa bột', N'KHÔNG')
GO
INSERT [dbo].[NhomHang] ([IDNhomHang], [MaNhom], [TenNhom], [GhiChu]) VALUES (14, N'NH002', N'Sữa tươi', N'KHÔNG')
GO
INSERT [dbo].[NhomHang] ([IDNhomHang], [MaNhom], [TenNhom], [GhiChu]) VALUES (15, N'NH003', N'Thực phẩm chức năng', N'KHÔNG')
GO
SET IDENTITY_INSERT [dbo].[NhomHang] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

GO
INSERT [dbo].[SanPham] ([IDSanPham], [MaSP], [IDLoaiSP], [IDDongSP], [TenSP], [NgayXK], [GhiChu], [TrangThai]) VALUES (16001, N'SP10000', 18, 24, N'Số 0', CAST(N'2021-10-15' AS Date), N'KHÔNG', 1)
GO
INSERT [dbo].[SanPham] ([IDSanPham], [MaSP], [IDLoaiSP], [IDDongSP], [TenSP], [NgayXK], [GhiChu], [TrangThai]) VALUES (17001, N'SP10001', 19, 23, N' HMO Số 3', CAST(N'2021-10-15' AS Date), N'KHÔNG', 0)
GO
INSERT [dbo].[SanPham] ([IDSanPham], [MaSP], [IDLoaiSP], [IDDongSP], [TenSP], [NgayXK], [GhiChu], [TrangThai]) VALUES (18001, N'SP10002', 20, 20, N'5G số 4', CAST(N'2021-10-15' AS Date), N'KHÔNG', 1)
GO
SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[TheThanhVien] ON 

GO
INSERT [dbo].[TheThanhVien] ([IDTheTV], [MaTheTV], [TenKH], [GioiTinh], [NgaySinh], [SDT], [CMND], [Email], [HinhAnh], [NgayTao], [NgayHetHan], [GhiChu]) VALUES (1501, N'MTV00001', N'Trần huyền trang', 0, CAST(N'2000-10-10' AS Date), N'0324562541', N'187823366', N'hohangxa@gmail.com', N'none', CAST(N'2021-08-12' AS Date), CAST(N'2021-08-12' AS Date), N'Không')
GO
INSERT [dbo].[TheThanhVien] ([IDTheTV], [MaTheTV], [TenKH], [GioiTinh], [NgaySinh], [SDT], [CMND], [Email], [HinhAnh], [NgayTao], [NgayHetHan], [GhiChu]) VALUES (1601, N'MTV00002', N'Hoàng Trung Hải', 1, CAST(N'1998-08-11' AS Date), N'0324569327', N'187824257', N'matcachan@gmail.com', N'none', CAST(N'2021-06-10' AS Date), CAST(N'2021-06-10' AS Date), N'Không')
GO
INSERT [dbo].[TheThanhVien] ([IDTheTV], [MaTheTV], [TenKH], [GioiTinh], [NgaySinh], [SDT], [CMND], [Email], [HinhAnh], [NgayTao], [NgayHetHan], [GhiChu]) VALUES (1701, N'MTV00003', N'Nam Thiên Môn', 1, CAST(N'1995-11-03' AS Date), N'0324565735', N'187827921', N'ngogiatu@gmail.com', N'none', CAST(N'2020-02-12' AS Date), CAST(N'2020-02-12' AS Date), N'Không')
GO
SET IDENTITY_INSERT [dbo].[TheThanhVien] OFF
GO
SET IDENTITY_INSERT [dbo].[ThuongHieu] ON 

GO
INSERT [dbo].[ThuongHieu] ([IDThuongHieu], [MaTH], [TenTH], [GhiChu], [TrangThai]) VALUES (21, N'TH10000', N'Vinamilk', N'KHÔNG', 1)
GO
INSERT [dbo].[ThuongHieu] ([IDThuongHieu], [MaTH], [TenTH], [GhiChu], [TrangThai]) VALUES (22, N'TH10001', N'TH true milk', N'KHÔNG', 1)
GO
INSERT [dbo].[ThuongHieu] ([IDThuongHieu], [MaTH], [TenTH], [GhiChu], [TrangThai]) VALUES (23, N'TH10002', N'Dutch Lady', N'KHÔNG', 1)
GO
SET IDENTITY_INSERT [dbo].[ThuongHieu] OFF
GO
SET IDENTITY_INSERT [dbo].[XuatXu] ON 

GO
INSERT [dbo].[XuatXu] ([IDXuatXu], [MaQG], [TenQG]) VALUES (15, N'QG001', N'Việt Nam')
GO
INSERT [dbo].[XuatXu] ([IDXuatXu], [MaQG], [TenQG]) VALUES (16, N'QG002', N'New Zealand')
GO
INSERT [dbo].[XuatXu] ([IDXuatXu], [MaQG], [TenQG]) VALUES (17, N'QG003', N'Nhật Bản')
GO
SET IDENTITY_INSERT [dbo].[XuatXu] OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_MaAnhSP_AnhSP]    Script Date: 23/11/2021 7:44:39 CH ******/
ALTER TABLE [dbo].[AnhSP] ADD  CONSTRAINT [UK_MaAnhSP_AnhSP] UNIQUE NONCLUSTERED 
(
	[MaAnhSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ChiTietSanPham]    Script Date: 23/11/2021 7:44:39 CH ******/
ALTER TABLE [dbo].[ChiTietSanPham] ADD  CONSTRAINT [IX_ChiTietSanPham] UNIQUE NONCLUSTERED 
(
	[BarCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_DongSP]    Script Date: 23/11/2021 7:44:39 CH ******/
ALTER TABLE [dbo].[DongSP] ADD  CONSTRAINT [IX_DongSP] UNIQUE NONCLUSTERED 
(
	[MaDongSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_DonViTinh]    Script Date: 23/11/2021 7:44:39 CH ******/
ALTER TABLE [dbo].[DonViTinh] ADD  CONSTRAINT [IX_DonViTinh] UNIQUE NONCLUSTERED 
(
	[MaDVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_HoaDon]    Script Date: 23/11/2021 7:44:39 CH ******/
ALTER TABLE [dbo].[HoaDon] ADD  CONSTRAINT [IX_HoaDon] UNIQUE NONCLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_KhoiLuong]    Script Date: 23/11/2021 7:44:39 CH ******/
ALTER TABLE [dbo].[KhoiLuong] ADD  CONSTRAINT [IX_KhoiLuong] UNIQUE NONCLUSTERED 
(
	[MaKhoiLuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_KhuyenMai]    Script Date: 23/11/2021 7:44:39 CH ******/
ALTER TABLE [dbo].[KhuyenMai] ADD  CONSTRAINT [IX_KhuyenMai] UNIQUE NONCLUSTERED 
(
	[MaKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_LoaiHang]    Script Date: 23/11/2021 7:44:39 CH ******/
ALTER TABLE [dbo].[LoaiHang] ADD  CONSTRAINT [IX_LoaiHang] UNIQUE NONCLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_NhanVien]    Script Date: 23/11/2021 7:44:39 CH ******/
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [IX_NhanVien] UNIQUE NONCLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_NhanVien_1]    Script Date: 23/11/2021 7:44:39 CH ******/
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [IX_NhanVien_1] UNIQUE NONCLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_NhomHang]    Script Date: 23/11/2021 7:44:39 CH ******/
ALTER TABLE [dbo].[NhomHang] ADD  CONSTRAINT [IX_NhomHang] UNIQUE NONCLUSTERED 
(
	[MaNhom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_SanPham]    Script Date: 23/11/2021 7:44:39 CH ******/
ALTER TABLE [dbo].[SanPham] ADD  CONSTRAINT [IX_SanPham] UNIQUE NONCLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_TheThanhVien]    Script Date: 23/11/2021 7:44:39 CH ******/
ALTER TABLE [dbo].[TheThanhVien] ADD  CONSTRAINT [IX_TheThanhVien] UNIQUE NONCLUSTERED 
(
	[MaTheTV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ThuongHieu]    Script Date: 23/11/2021 7:44:39 CH ******/
ALTER TABLE [dbo].[ThuongHieu] ADD  CONSTRAINT [IX_ThuongHieu] UNIQUE NONCLUSTERED 
(
	[MaTH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_XuatXu]    Script Date: 23/11/2021 7:44:39 CH ******/
ALTER TABLE [dbo].[XuatXu] ADD  CONSTRAINT [IX_XuatXu] UNIQUE NONCLUSTERED 
(
	[MaQG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_ChiTietSanPham] FOREIGN KEY([IDChiTietSP])
REFERENCES [dbo].[ChiTietSanPham] ([IDChiTietSP])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_ChiTietSanPham]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HoaDon] FOREIGN KEY([IDHoaDon])
REFERENCES [dbo].[HoaDon] ([IDHoaDon])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietSanPham]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietSanPham_AnhSP] FOREIGN KEY([IDAnhSP])
REFERENCES [dbo].[AnhSP] ([IDAnhSP])
GO
ALTER TABLE [dbo].[ChiTietSanPham] CHECK CONSTRAINT [FK_ChiTietSanPham_AnhSP]
GO
ALTER TABLE [dbo].[ChiTietSanPham]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietSanPham_DonViTinh] FOREIGN KEY([IDDonViTinh])
REFERENCES [dbo].[DonViTinh] ([IDDonViTinh])
GO
ALTER TABLE [dbo].[ChiTietSanPham] CHECK CONSTRAINT [FK_ChiTietSanPham_DonViTinh]
GO
ALTER TABLE [dbo].[ChiTietSanPham]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietSanPham_KhoiLuong] FOREIGN KEY([IDKhoiLuong])
REFERENCES [dbo].[KhoiLuong] ([IDKhoiLuong])
GO
ALTER TABLE [dbo].[ChiTietSanPham] CHECK CONSTRAINT [FK_ChiTietSanPham_KhoiLuong]
GO
ALTER TABLE [dbo].[ChiTietSanPham]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietSanPham_SanPham] FOREIGN KEY([IDSanPham])
REFERENCES [dbo].[SanPham] ([IDSanPham])
GO
ALTER TABLE [dbo].[ChiTietSanPham] CHECK CONSTRAINT [FK_ChiTietSanPham_SanPham]
GO
ALTER TABLE [dbo].[ChiTietSanPham]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietSanPham_XuatXu] FOREIGN KEY([IDXuatXu])
REFERENCES [dbo].[XuatXu] ([IDXuatXu])
GO
ALTER TABLE [dbo].[ChiTietSanPham] CHECK CONSTRAINT [FK_ChiTietSanPham_XuatXu]
GO
ALTER TABLE [dbo].[DongSP]  WITH CHECK ADD  CONSTRAINT [FK_DongSP_ThuongHieu] FOREIGN KEY([IDThuongHieu])
REFERENCES [dbo].[ThuongHieu] ([IDThuongHieu])
GO
ALTER TABLE [dbo].[DongSP] CHECK CONSTRAINT [FK_DongSP_ThuongHieu]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_HinhThucThanhToan] FOREIGN KEY([IDHinhThucThanhToan])
REFERENCES [dbo].[HinhThucThanhToan] ([IDHinhThucThanhToan])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_HinhThucThanhToan]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([IDNhanVien])
REFERENCES [dbo].[NhanVien] ([IDNhanVien])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_TheThanhVien] FOREIGN KEY([IDTheTV])
REFERENCES [dbo].[TheThanhVien] ([IDTheTV])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_TheThanhVien]
GO
ALTER TABLE [dbo].[KhuyenMai]  WITH CHECK ADD  CONSTRAINT [FK_KhuyenMai_DongSP] FOREIGN KEY([IDDongSP])
REFERENCES [dbo].[DongSP] ([IDDongSP])
GO
ALTER TABLE [dbo].[KhuyenMai] CHECK CONSTRAINT [FK_KhuyenMai_DongSP]
GO
ALTER TABLE [dbo].[KhuyenMai]  WITH CHECK ADD  CONSTRAINT [FK_KhuyenMai_HinhThucThanhToan] FOREIGN KEY([IDHinhThucThanhToan])
REFERENCES [dbo].[HinhThucThanhToan] ([IDHinhThucThanhToan])
GO
ALTER TABLE [dbo].[KhuyenMai] CHECK CONSTRAINT [FK_KhuyenMai_HinhThucThanhToan]
GO
ALTER TABLE [dbo].[KhuyenMai]  WITH CHECK ADD  CONSTRAINT [FK_KhuyenMai_LoaiHang] FOREIGN KEY([IDLoaiHang])
REFERENCES [dbo].[LoaiHang] ([IDLoaiHang])
GO
ALTER TABLE [dbo].[KhuyenMai] CHECK CONSTRAINT [FK_KhuyenMai_LoaiHang]
GO
ALTER TABLE [dbo].[LoaiHang]  WITH CHECK ADD  CONSTRAINT [FK_LoaiHang_NhomHang] FOREIGN KEY([IDNhomHang])
REFERENCES [dbo].[NhomHang] ([IDNhomHang])
GO
ALTER TABLE [dbo].[LoaiHang] CHECK CONSTRAINT [FK_LoaiHang_NhomHang]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_DongSP] FOREIGN KEY([IDDongSP])
REFERENCES [dbo].[DongSP] ([IDDongSP])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_DongSP]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_LoaiHang] FOREIGN KEY([IDLoaiSP])
REFERENCES [dbo].[LoaiHang] ([IDLoaiHang])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_LoaiHang]
GO
USE [master]
GO
